header {
    display: flex;
    max-width: auto;
    max-height: auto;
    background-image: url("/assets/Images/fond header astérix.jpg");
    background-size: cover;
    border: 2px solid;
    height: 200px;
    justify-content: space-between;
}

img {
    display: flex;
    height: 150px;
    width: auto;
    padding: 0.5em;
}

nav {
    display: flex;
    align-items:flex-end;
}

ul {
    display: flex;
    justify-content: center;
    background-color:#F9D0A3 ;
    padding-left: 0.5em;
    margin: 0.5em;
}

a {
    display: flex;
    padding-right: 0.5em;
    color:#151217;
    filter: contrast(200%);
    text-decoration: none;
}

ul :hover {
    background-color:#DA001E;
    color: #151217;
    cursor: pointer;
    filter: brightness(100%);
    filter: contrast(100%);
}

@media screen and (max-width: 768px) {
    ul {
        display: flex;
        flex-direction: column;
    justify-content:flex-end;

    }
}