<footer>
    <div>
        <ul class="contactFooter">
            <address><img src="/assets/Images/adress.png" alt="icone adress par Freepik">Quelque part en France</address>
            <a href="tel:+33042424242"><img src="/assets/Images/telephone.png" alt="Icone téléphone par Nawicon">00 42 42 42 42</a>
            <a href="mailto: aupetitvillage@gmail.com"><img src="/assets/Images/email.png" alt="icone Mail par Uniconlabs">aupetitvillage&#64;gmail.com</a>
        </ul>
    </div>
    <div>
        <ul class="mediaFooter">
            <a href="https://www.facebook.com/?locale=fr_FR"><img src="/assets/Images/facebook.png" alt="Logo Facebook par Freepik"/>Facebook</a>
            <a href="https://www.instagram.com"><img src="/assets/Images/instagram.png" alt="Logo Instragm par Freepik"/>Instagram</a>
            <a href="https://twitter.com/?lang=fr"><img src="/assets/Images/twitter.png" alt="Logo Twitter par Freepik"/>Twitter</a>
        </ul>
    </div>
</footer>
