div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-title, h3 {
    background-color: #DA001E;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.25em;
    padding-bottom: 0.5em;
    padding-left: 15em;
    padding-right: 15em;
}

.about-intro {

    background-color: #FDD90B;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.25em;
    padding-bottom: 0.5em;
}

.aboutImg {
    height: 20em;
    width: auto;
    padding: 0.5em;

}

p {
text-align: center;
}

.contactAbout {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 10em;
    padding-left: 5em;
}

img {
    width: 1.5em;
    padding-right: 0.25em;
    padding-left: 0.25em;
    padding-bottom: 0.25em;
}