<div class="about">
    <div class="about-title">
        <h2>A propos de nous ! </h2>
    </div>
    <div class="about-intro">
        <p>Notre merveilleuse équipe de passionée : </p>
        <img src="/assets/Images/image equipe petit village.jpg" alt="Image by senivpetro on Freepik">
    </div>
    <div>
        <h3>En l'an 52 avant JC....</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Placeat quia, illum tempore culpa neque iste perferendis iure! Eligendi ea odit et doloremque at, 
            tenetur blanditiis laudantium officia earum beatae maiores.</p>
        <h3>"Au petit village" resistait encore et toujours a l'envahisseur...</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem accusantium vitae quisquam eligendi a ab asperiores officia. 
            Dolor, suscipit ipsam! Blanditiis in, odio aut nulla facilis fugiat vero. Voluptatem, eaque!</p>
    </div>
</div>