/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "bubbleboddy-neue";
    src: url("assets/Font/bubbleboddy-neue/bubbleboddyneue-regular trial.ttf");
}

@font-face {
    font-family: "Comfortaa";
    src: url("assets/Font/Comfortaa/static/Comfortaa-Regular.ttf");
}

body {
    background-color: #FDD90B;
    background-color: #151217;
    background-color:#DA001E;
    background-color:#F9D0A3;
}