<main class="main">
  <div>
    <h1>{{title}}</h1>
  </div>
  <div>
    <p class="home-presentation">Nous sommes une entreprise qui confectionne des figurines inspirées de la bande
      dessinée Astérix et Obélix. Notre but : Comblé la nostalgie des fantastiques aventures d'Astérix et Obélix.</p>
  </div>
  <div>
    <p>Recherche par nom</p>
  </div>
  <div>
    <p>trie par prix croisssant ou décroissant</p>
  </div>
  <div class="home-catalogue">
    <p>catalogue des produits vendu</p>
  </div>
</main>

