main {
    display: flex;
    flex-direction: column;
    border: 2px solid;
}

h1 {
    display: flex;
    justify-content: center;
    background-color: #DA001E;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.25em;
    padding-bottom: 0.5em;
    text-transform: uppercase;
    text-align: center  ;
    
}

.home-presentation {
    display: flex;
    text-align: center;
    background-color: #FDD90B;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.25em;
    padding-bottom: 0.5em;
}

.title-catalogue {
    padding-left: 5em;
    padding-right: 5em;
    text-decoration: underline;
}

.home-sort {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 0.5em;
    padding-left: 10em;
}

.HomeButtonSort {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-left: 1em;
}

.croissant {
    background-color: #FDD90B;
    cursor: pointer;
}

.decroissant {
    background-color: #DA001E;
    cursor: pointer;
}

input {
    display: flex;
    width: 15em;
    height: 2em;
    text-align: center;
    
}

.home-catalogue {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.home-product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

img {
    width: 190px;
    height: 190px;
    transition: transform .1s;
}

img:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
    }

.imgProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    border: 2px solid;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .home-catalogue {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-sort {
        display: flex;
        flex-direction: column;
    }

    input {
        display: flex;
        width: 7em;
        height: 3em;
        
    }
}